$colors: (
    primary: (
        red: hsl(10, 79%, 65%),
        cyan: hsl(186, 34%, 60%),
    ),
    neutral: (
        100: hsl(33, 100%, 98%),
        200: hsl(27, 66%, 92%),
        300: hsl(28, 10%, 53%),
        400: hsl(25, 47%, 15%),
    )
)